@charset "utf-8";
@import "bootstrap";
@import "bootstrap-sprockets";



/* all general */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #D8D8D8 ;
}

.center {
  text-align: center;
}

/* text */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  .jumbotron h1,{
    font-size: 4em ;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
  }
}


h2 {
  font-size: 1.5em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  color: #333399;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

/* header */

#logo {
  float: left;
  font-size: 1.5em;
  color: #04B404;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
  line-height: 1;
  font-family: "ＭＳ ゴシック",sans-serif;
  &:hover {
    text-decoration: none;
  }
}




.dropdown {
  padding-top: 8px;
}


/* footer */

footer {
  margin-top: 50px;
  padding-top: 10px;
  border-top: double 1px #BDBDBD;
}

footer ul {
    float:right;
    list-style: none;
    li {
      float:right;
      margin-left: 15px;
      margin-right: 10px;
    }
}
